.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 635px;
  height: 797px;
  padding: 40px;
  border-radius: 15px;
  background-color: #E6E6E6;
}

.controls {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.controls__input {
  min-height: 65px;
  padding: 0 20px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.controls__btn {
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  background-color: #FBCC28;
  opacity: .6;
  transition-property: border-radius, opacity;
  transition-duration: .5s, .5s;
  transition-timing-function: ease-in-out, ease-in-out;
  cursor: pointer;
}

.controls__btn:hover {
  opacity: 1;
  border-radius: 0 30px 30px 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  overflow: scroll;
}

.todo-list__item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 85px;
  background-color: #FFEBEB;
  list-style: none;
}

.todo-list__label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  /* background-color: #FFEBEB; */
  border-radius: 10px;
  cursor: pointer;
}

.todo-list__checkbox {
  width: 25px;
  height: 25px;
}

.todo-list__text {
  font-size: 18px;
}

.todo-list__btn {
  margin: 0;
  padding: 0;
  width: 76px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.todo-list__img {
  opacity: .5;
  transition: opacity ease-in-out 0.3s;
}

.todo-list__btn:hover .todo-list__img {
  opacity: 1;
}

.todo-list__checkbox:checked + .todo-list__text {
  text-decoration: line-through;
}

.todo-list__item:has(.todo-list__checkbox:checked) {
  background-color: #EBFFED;
}