* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;

}

.wrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 634px;
  height: 80%;
  padding: 40px;
  background: #E6E6E6;
  border-radius: 15px;
  display: grid;
  grid-template-rows: auto 5fr;
  gap: 30px;
}

.controlItem {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  height: 65px;
}

.controlItem__input {
  background: white;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 18px;
  padding: 0 20px;
}

.controlItem__btn {
  background: #FBCC28;
  border-radius: 0 10px 10px 0;
  border: none;
  font-size: 18px;
}

.controlItem__btn:hover {
  cursor: pointer;
  background: #f3cc3f;
}

.todo-list {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 15px;
}

.todo-list__item {
  background: #FFEBEB;
  padding: 30px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.todo-list__item_done {
  background: #EBFFED;
}

.todo-list__item_done .todo-field__item-text {
  text-decoration: line-through;
}

.todo-list__item-input {
  transform: scale(2);
}

.todo-list__item:hover {
  cursor: pointer;
}
